{% extends 'learning/base.html' %}
{% block title %}{{ course }}{% endblock %}
{% block courses_active %}active{% endblock %}

{% block body %}
<div class="container-fluid songs-container">

    <div class="row">

        <!-- Lesson List page -->
        <div class="col-sm-4 col-md-3">
            <div class="panel panel-default">
                <div class="panel-body">
                    <a href="{% url 'learning:detail' course.id %}">
                        {% if course.course_logo %}
                            <img src="{{course.course_logo.url }}" class="img-responsive">
                        {% else %}
                            <h3>No image to display</h3>
                        {% endif %}
                    </a>
                    <h1>{{course.course_name }}</h1>
                    <h1><small>{{ course.course_description }}</small></h1>

                </div>
            </div>
        </div>

        <!-- Right Course and Quiz Info -->
        <div class="col-sm-8 col-md-9">

            <div class="panel panel-default">
                <div class="panel-body">

                    <h3>All Lessons</h3>
                    {% if error_message %}
                        <p><strong>{{ error_message }}</strong></p>
                    {% endif %}

                    <table class="table">
                        <thead>
                        <tr>
                            <th>Description</th>
                            <th>View Lesson</th>
                            <th>Take Quiz </th>

                        </tr>
                        </thead>
                        <tbody>
                        {% for course_content in course.course_content_set.all %}
                            <tr>
                                <td>{{course_content.course_content_description}}</td>
                                <td>
                                    <a href="{% url 'learning:content_display' course.id course_content.id%}">
                                  <button type="button" class="btn btn-success btn-md-9">
                            &nbsp; View Lesson
                             </button>
                                    </a>
                                </td>


                               {% for quiz in course_content.quiz_set.all %}
                                <td>
                                    <a href="{% url 'learning:start_quiz' course.id course_content.id quiz.id%}">
                                 <button type="button" class="btn btn-success btn-md-9">
                                 &nbsp; Take quiz
                            </button></a>
                                </td>
                                {% endfor %}

                            </tr>
                        {% endfor %}

                        </tbody>
                    </table>


                </div>

            </div>

            <a href="{% url 'learning:index_page'%}">
                                 <button type="button" class="btn btn-success btn-md-9">
                                 &nbsp; Back to course page
                            </button></a>

        </div>


    </div>

</div>

{% endblock %}
