{% extends 'learning/base_visitor.html' %}
{% block title %}Register{% endblock %}
{% block register_active %}active{% endblock %}

{% block body %}
<div class="container-fluid">

    <div class="row">
        <div class="col-sm-12 col-md-6">
            <div class="panel panel-default">
                <div class="panel-body" id = "columnOne">
                    <h3>Register for an Account</h3>
                    {% if error_message %}
                        <p><strong>{{ error_message }}</strong></p>
                    {% endif %}
                    <form class="form-horizontal" role="form" action="" method="post" enctype="multipart/form-data">
                        {% csrf_token %}
                        {% include 'learning/form_template.html' %}
                        <div class="form-group">
                            <div class="col-sm-offset-2 col-sm-10">
                                <button type="submit" class="btn btn-success">Submit</button>
                            </div>
                        </div>
                    </form>
                </div>
                <div class="panel-footer">
                    Already have an account? <a href="{% url 'learning:login_user' %}">Click here</a> to log in.
                </div>
            </div>
        </div>

     <div class="col-sm-12 col-md-5">
            <div class="panel panel-default">
                <div class="panel-body" id = "columnTwo" style :max-height: 550px;>
                    <h3>What is LearnMath?</h3>
                    <p>LearnMath is an intelligent tutoring system created to assist students.</p>
                    <h3>How does it work?</h3>
                    <p>It teaches mathematical concepts to students, by adapting the instruction material according
                    to the need of students.</p>

                </div>

                <div class="panel-footer">
                    For more information about ITS <a href="https://en.wikipedia.org/wiki/Intelligent_tutoring_system">Click here</a>
                </div>

            </div>
        </div>
    </div>


</div>

{% endblock %}

